<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drive</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
/>
<link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
</head>
<body class="bg-gray-500 h-screen w-screen flex justify-center items-center">
    
<div class="flex flex-col items-center justify-center w-full space-y-4">
    <button onclick="OpenPopUp()" class=" uploadbtn px-4 py-2 absolute top-20 left-20 text-white bg-blue-600 rounded-lg hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 focus:outline-none">
        Upload File
    </button>

    <div class="files bg-gray-600 p-5 text-white absolute top-32 left-20 w-[700px] rounded-lg">
        <h1 class="text-lg font-semibold mb-4">Your Files</h1>
        <% files.forEach((file) => { %>
            <div class="file flex items-center justify-between p-4 bg-gray-700 rounded-lg mb-2">
                <h1 class="text-white font-medium"><%= file.originalname %></h1>
                <a 
                href="/download/<%= file.path.split('/').pop() %>" 
                download="<%= file.originalname %>" 
                class="text-white hover:text-blue-400"
              >
                <i class="ri-file-download-fill text-2xl"></i>
              </a>
            </div>
        <% }) %>
    </div>
    
    
     <form class="w-96" action="/user/file-upload" method="post" enctype="multipart/form-data">
         <label 
         for="dropzone-file" 
         class="pop hidden  bg-white/50 flex flex-col items-center justify-center w-full max-w-lg h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer"
         >
         <div class="flex flex-col items-center justify-center pt-5 pb-6">
             <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                 <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                </svg>
            <p class="mb-2 text-sm font-bold text-gray-800 dark:text-gray-600"><span class="font-bold">Click to upload</span> or drag and drop</p>
            <p class="text-xs text-gray-800 dark:text-gray-600">SVG, PNG, JPG or GIF</p>
        </div>
        <input id="dropzone-file" type="file" name="file" class="hidden" />
        <div class="flex space-x-4">
            <button class="addbtn hidden px-4 py-2 text-white bg-green-600 rounded-lg hover:bg-green-700 focus:ring-4 focus:ring-green-300 focus:outline-none">
                Add File
            </button>
        </div>
        
    </label>
</form>
  
<button onclick="ClosePopUp()"><i class="ri-close-large-fill cross hidden text-[30px]  absolute right-[300px] top-[100px]"></i></button>
</div>

<script>
     function OpenPopUp() {
        document.querySelector(".pop").style.display = 'flex';
        document.querySelector(".addbtn").style.display = 'flex';
        document.querySelector(".uploadbtn").style.display = 'none';
        document.querySelector(".cross").style.display = 'flex';
        document.querySelector(".files").style.display = 'none';
        
    }
    function ClosePopUp (){
        document.querySelector(".pop").style.display = 'none';
        document.querySelector(".addbtn").style.display = 'none';
        document.querySelector(".uploadbtn").style.display = 'flex';
        document.querySelector(".cross").style.display = 'none';
        document.querySelector(".files").style.display = 'block';
     }
</script>
<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</body>
</html>
